<ul class="list-group mb-3">
    {% for item in items %}
            <li class="list-group-item">
                    {% if item.category.parent is not null %}
                            {{ item.category.parent.name }} -
                    {% endif %}
                    {{ item.category.name }} - {{ item.description }}
            </li>
    {% endfor %}
</ul>
